<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 pt-3 pb-3 header">
    <div class="container">
        <div class="header__logo">
            <img id="smallImg" src="<%- url_for('/image/svg/brand.svg') %>" alt="MaxLeton" width="30" height="30" class="logo-sm rounded-circle border border-3 border-secondary" >
            <img id="bigImg" src="<%- url_for('/image/svg/brand.svg') %>" alt="MaxLeton" width="80" height="80" class="logo-big rounded-circle border border-4 border-secondary">
        </div>
        <a id="brand" class="navbar-brand" href="<%- url_for(config.index_generator.path) %> ">
            <%- config.title %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">

            <!--<% if (theme.search.enable) { %> 
            <form class="d-flex">
                <button class="btn text-muted fa fa-search" disabled></button>
                <input id="local-search-input" class="form-control me-2 pe-4" type="search"
                        placeholder="搜索" aria-label="Search">
            </form>
            <% } %>-->

            <ul class="navbar-nav header_navbar-links">
                <%- partial('_partial/nav_menu', {place: 'right'})  %> 

                <div class="header__navbar-btns">
                    <img src="<%- url_for('/image/index/music.png') %>" alt="">
                    <audio src=""></audio>
                  </div>
                
                <div class="share__info">
                    <img src="<%- url_for('/image/index/smallX.png') %>" alt="">
                </div>
            </ul>
        </div>
    </div>
</nav>