<!-- 博客详情 -->
<% console.log(page) %> 

<div class="blog-detail-container">
    <div class="blog-detail-article">

        <div class="blog-detail__title">
            <%- page.title %>
        </div>
        <div class="blog-detail__info">
            <span class="bolg_breadcrumb">
                <div>MaxLeton></div>
                    <% page.categories.each(category=>{ %>
                        <div class="blog-tag" >
                            <a href="<%- url_for(category.path)  %> ">
                                <%- category.name  %> 
                            </a>
                            
                        </div>
                    <% }) %>
            </span>
            <span><%- date(page.date , 'YYYY/MM/DD') %></span>
        </div>
        
    </div>
    <div class="blog-detail__content">
        <%- page.content  %> 
    </div>
</div>